/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/  
body {
  background: rgb(247, 223, 172);
  color: rgb(6, 51, 47);  
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
  /*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
}
.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-3,
.col-2-3{
  flex: 0 1 10%;  
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px; 
  min-width: 35em; /* BARDZO WAŻNE DAWAĆ TO DO SKALOWALNOŚCi*/
  max-width: 36%;
}
.col-2-3{
  align-content: center;
}

.col-3-3{
  width: 33.33%;
}

.col-4-3{
  width: 66.66%;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,{
  min-height: 960px;
}
.row {
  background: rgba(133, 95, 70, 0.637);
  padding: 66px 0px 44px 0px;
}

/*
  ========================================
  Typography
  ========================================
*/
h1{
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  font-family: 'Palatino Linotype';
}

h2{
  font-size: 24px;
  text-align: center;
  letter-spacing: .5px;
  padding-bottom: 10px;
  font-family: 'Palatino Linotype';
}

h3{
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  padding-bottom: 10px;
  font-family: 'Palatino Linotype';
}

h4{
  font-size: 20px;
  text-align: center;
  letter-spacing: .5px;
  padding-bottom: 10px;
  font-family: 'Palatino Linotype';
}
em{
  font-style: italic;
}


/*
  ========================================
  Links
  ========================================
*/
a {
  color: rgb(6, 51, 47);
  text-decoration: none;
}
a:hover {
  color: #4184b8;
}
.primary-header a,
.primary-footer a {
  color: rgb(6, 51, 47);
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #000000;
}

/*
  ========================================
  Primary header
  ========================================
*/
.logo{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 30px 0 90px 0; 
  background-image: url("../images/home/florence-1655830_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.primary-nav {
  border-bottom: 4px solid rgb(6, 51, 47);
}

  /*
  ========================================
  Primary footer
  ========================================
*/
.primary-footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-self: flex-start;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  }
.primary-footer small {
  float: left;
  font-weight: 400;
}
  /*
  ========================================
  Navigation
  ========================================
*/
.nav {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
}
.nav li:last-child {
  margin-right: 0;
}
 /*
  ========================================
  Hero
  ========================================
*/
.hero{
  text-align: left;
  font-size: 14px;
  color: rgb(6, 51, 47);
  padding-top: 30px;
  padding-bottom: 30px;
  font-family:'Palatino Linotype';
}
.teaser a:hover h3 {
  color: #a9b2b9;
}
.teaser h3{
  margin: auto;
}
.teaser img{
  width: 100%;
  height: 65%;
  margin: auto;
  border: 4px solid #000000;
}
.teaser p{
  margin: auto;
}
 /*
  ========================================
  Gallery
  ========================================
*/

.big_photo img{
  border: 4px solid #000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 60%;
  min-width: 30em;
}
.miniature ul{
  text-align: center;
  margin: 0;
}

.miniature li{
  list-style: none;
  display: inline;
  vertical-align: bottom;
}
.miniature img {
  border: 2px solid #000000;
  margin-left: auto;
  margin-right: auto;
  min-height: 10em;
  min-width: 10em;
  width: 15%;
  height:150px;
}

.miniature a :hover{
  border-color: rgb(6, 51, 47);
}
 
 /*
  ========================================
  Kontakt
  ========================================
*/

form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.contact-group label {
  color: rgb(6, 51, 47);
  cursor: pointer;
  font-weight: 400;
}
.contact-group input,
.contact-group select,
.contact-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: rgb(6, 51, 47)888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.contact-group input,
.contact-group textarea {
  width: 100%;
}
.contact-group select {
  height: 34px;
  width: 60px;
}
.contact-group textarea {
  height: 78px;
}

 /*
  ========================================
  O Autorze
  ========================================
*/

.author{
  margin-top: 20px;
  border-radius: 5px;
  padding-bottom: 22px;
  text-align: center;
}
.author img {
  border-radius: 50%;
  height: 130px;
  margin: -66px 0 22px 0;
  vertical-align: top;
}
